.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.btn-ayuda {
	padding: 15px;
	cursor: pointer;
}

.btn-ayuda:hover {
	border-bottom: solid;
	border-bottom-color: grey;
	border-bottom-width: 1px;
	background: #5d5d5d5e;
}

.text-ayuda {
	margin: 0 !important;
	padding: 0 !important;
}

.reactive-navbar {
	display: none !important;
}

@media only screen and (max-width: 575px) {
	.reactive-menu {
		display: none !important;
	}
	.reactive-navbar {
		display: block !important;
	}
}

.accordion-barAction {
	--bs-accordion-transition: color 0.15s ease-in-out,
		background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
		box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
	/* --bs-accordion-border-color: var(--bs-border-color); */
	--bs-accordion-border-width: var(--bs-border-width);
	--bs-accordion-border-radius: var(--bs-border-radius);
	--bs-accordion-inner-border-radius: calc(
		var(--bs-border-radius) - (var(--bs-border-width))
	);
	--bs-accordion-btn-padding-x: 1.25rem;
	--bs-accordion-btn-padding-y: 1rem;
	--bs-accordion-btn-color: var(--bs-body-color);
	--bs-accordion-btn-bg: var(--bs-accordion-bg);
	--bs-accordion-btn-icon: url(data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%23212529%27%3e%3cpath fill-rule=%27evenodd%27 d=%27M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z%27/%3e%3c/svg%3e);
	--bs-accordion-btn-icon-width: 1.25rem;
	--bs-accordion-btn-icon-transform: rotate(-180deg);
	--bs-accordion-btn-icon-transition: transform 0.2s ease-in-out;
	--bs-accordion-btn-active-icon: url(data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%23052c65%27%3e%3cpath fill-rule=%27evenodd%27 d=%27M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z%27/%3e%3c/svg%3e);
	--bs-accordion-btn-focus-border-color: #86b7fe;

	--bs-accordion-body-padding-x: 1.25rem;
	--bs-accordion-body-padding-y: 1rem;
	--bs-accordion-active-color: var(--bs-primary-text-emphasis);
}

.body-main {
	height: calc(100vh - 56px);
	display: flex;
	justify-content: space-between;
	/* background: linear-gradient(122deg, #a34ca8b5, transparent); */
	background-image: url("./assets/images/main.jpg");
}

.container-vision-mision {
	width: 450px;
	padding: 10px;
	text-align: justify;
}

.mision {
	position: relative;
	top: 182px;
	right: 10px;
}
